$fontFamily: -apple-system, helvetica, tahoma, arial, "PingFang SC", "PingFang SC Regular", "Microsoft YaHei", "微软雅黑", "Source Han Sans",
  "思源黑体", simsun, "宋体", heiti, "黑体", "sans-serif";

$primary-fontSize: 14px;
$primary-color: #3f90ff;

// Extra small screen / phone
$screen-xs: 480px;
// Small screen / tablet
$screen-sm: 576px;
// Medium screen / desktop
$screen-md: 768px;
// Large screen / wi;de desktop
$screen-lg: 992px;
// Extra large screen / full hd
$screen-xl: 1200px;
// Extra extra large screen / large descktop
$screen-xxl: 1600px;
